@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;400;500;600;700&family=Roboto+Condensed&display=swap');

body{
    font-family: 'Fraunces', serif;
}
header{
    margin: auto;
    font-family: 'Fraunces', serif; 
    font-size: 20px;
    color: #d1f5ff;
    background-color: #D1F5FF; 
    height: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}


header nav ul li{
    margin: auto;
    text-align: center;
     list-style: none;
     text-decoration: none;
} 

header nav ul li a{
    text-decoration: none; 
    line-height: 1.7;
    font-weight: 500;
}
header nav ul li a:visited{
    color: black;
    
} 

#roboto{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
} 
#fraunces{
    font-family: 'Fraunces', serif;
    font-size: 45px;
}  

main{
    margin: auto;
    width: 80%;
    background-color: #78E3FD;
    text-align: center;
    padding: 25px;
}

main h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px; 
}
main h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

main p{
    font-family: 'Fraunces', serif;}
footer{
    margin: auto;
    text-align: center;
    font-family: 'Fraunces', serif;
      border: 5px solid black;
      height: auto;
      width: 50%;
      background-color: #EEF8FF;
      color: #7D53DE;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 8px;
  } 
.container{
    width: 65%;
    margin: auto;
    padding: 45px;
    background-color: #78E3FD;
    margin-top: 15px;
}
#main-typo{
    background-color: #7D53DE;
} 

#first-color{
    background-color: #34F6F2;
}
#second-color{
    background-color: #78E3FD;
}
#third-color{
    background-color: #D1F5FF;
}
#fourth-color{
    background-color: #eef8ff;
}
#fifth-color{
    background-color: #7D53DE;
} 

#color-container{
    margin: auto;
    width: 80%;
    background-color: #E7F59E;
    text-align: center;
    padding: 25px;
   
}

.color{
    padding:20px;
    margin: 5%;
    font-size: 34px;
}
#color-container ul li{
    margin: auto;
    width: 80%;
    background-color: #FBFAEE;
    text-align: center;
    padding: 25px;
    list-style: none;
    font-size: 20px;
}
