.container img{
  display: flex; 
  flex-direction: column; 
  margin-top: 8vw;
  margin-left:3vh;
  filter: blur(0em);
  transition: filter 0.5s; 
  width: 300px;
  height: 400px; 
  padding-top: 15px;
  border-top: 10px solid black;
}

.container img[data-src]{
  filter: blur(0.2em); 
  }

  h1{
    text-align: center; 
    font-size: 2.5em;
  }

  /* CENTER ITEMS HORIZONTALLY AND VERTICALLY 
     .parent-selector {
    display: flex;
    justify-content:center;
    align-items: center;
}
  */