.container img{
  display: flex; 
  flex-direction: column; 
  margin-top: 2vh;
  margin-left:3vh;
  filter: blur(0em);
  transition: filter 0.5s; 
}

.container img[data-src]{
  filter: blur(0.2em)
}