/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  nav ul li a {
    padding: .6rem 1rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

  }

  .wrapper img {
    width: 90%;
    margin: auto;
    margin: 20px auto;
  }

  div#towns {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    max-width: 85%;
  }

  div#towns section img {
    width: 90%;
  }

  div#towns section {
    width: 100%;
    background-color: #CAF0F8;
    text-align: center;
  }

  div#towns section h2 {
    width: 100%;
    background-color: #CAF0F8;
    text-align: center;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 2.2rem;
  }

  div#towns section {
    width: 100%;
    background-color: #CAF0F8;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
  }

  div#towns section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
    justify-content: center;
  }
  div#towns section img{
    margin: auto;
  }
 




}