body {
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

h1 {
	color: darkred;
}


.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
}

img {
	width: 80%;
}

section {
	border: 1px solid black;
	background-color: lightgray;
	border-radius: 12px;
}

footer {
	padding: 7px;
	background-color: darkred;
	color: white;
}